/*

Theme Name: Swan Retail

Description: Child theme for Standout™ theme

Author: Standout™

Template: standout

Version: 1.0.0

Text Domain: standout

*/


.purple { color: #2b1054; }
.cyan { color: #00c7df; }





/* Typography */
h1, .h1, .bigtext { line-height: 1.1 !important; }
h2, .h2, h3, .h3 { line-height: 1.2; }
h4, .h4 { line-height: 1.4; }
h4, h5, h6 { font-weight: 400; letter-spacing: 0.02em; }
h3 + h5 { margin-top: 16px; }
p, dt, dd, dl, address, label, small, pre, code { font-size: 15px; letter-spacing: 0.05em; }
.heading-text span { color: inherit !important; font-weight: inherit !important; }
.text-lead li { font-size: 19px; }
.text-lead span { font-weight: inherit !important; }
.home .heading-text { margin-bottom: 0; }
.home .clear + .heading-text { margin-top: 10px !important; }
.text-lead, .text-lead > * { line-height: 1.6; }
body.textual-accent-color .post-content .style-dark p:not(.entry-small):not(.panel-title):not(.t-entry-member-social) a:not(.btn) { color: #fff !important; }
.style-light .uncode_text_column p strong { color: #00c7df; }
p:empty { display: none !important; }
a[href="#"] { cursor: default; }
blockquote { font-weight: 400; line-height: 1.75; }
blockquote p { font-weight: inherit; line-height: inherit; }
body.uncode-fullpage .post-content > div:not(#colophon) ul, body.uncode-scroll-snap .post-content > div:not(#colophon) ul { list-style-type: square; }
.no-touch .onepage-pagination li { height: 2.5em; }
.no-touch .onepage-pagination .cd-dot { width: 8px; height: 8px; }
.uncode_text_column ul { font-weight: 300; letter-spacing: 0.03em; }
.uncode_text_column ul li { line-height: 1.75; padding-bottom: 1em; }
.uncode-list ul.text-large li { margin-bottom: 1em; }
html ul.icons li .fa { color: #00c7df; }
hr { margin-top: 36px; margin-bottom: 36px; border-top-width: 2px; }
a[href^="tel"] { color: inherit !important; text-decoration: none !important; }

/* Typography > Futura > Featured */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .font-family-menu, .menu-container ul.menu-smart a, .font-377884, .font-762333, .buttons-style, input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"], .btn:not(.btn-custom-typo), .btn-link:not(.btn-custom-typo), .nav-tabs, .panel-title > a span, .search_footer, .wc-forward, .wc-forward a, .btn-container .custom-link, .text-lead, html .ai1ec-agenda-view .ai1ec-event .ai1ec-event-title, html .ai1ec-agenda-view .ai1ec-date-title, html .timely .ai1ec-btn, .t-entry-meta .t-entry-category, .t-entry-meta, .post-info, #tide-info-wrapper .tide-info h5 { font-family: 'usual', sans-serif !important; font-weight: 300 !important; letter-spacing: 0.03em !important; }
h1:not([class*="fontsize-"]), .h1:not([class*="fontsize-"]) { margin-bottom: 36px; }
h4, .h4 { font-weight: 300 !important; }

/* Typography > Roboto Condensed > Body */
body { font-family: 'usual', sans-serif !important; font-weight: 300; }


/* Dark */
.style-dark .ui-link:hover, .style-dark.style-override .ui-link:hover, .style-light .style-dark .ui-link:hover, .style-dark .ui-link:focus, .style-dark.style-override .ui-link:focus, .style-light .style-dark .ui-link:focus, .style-dark .nav-tabs > li > a:hover, .style-dark.style-override .nav-tabs > li > a:hover, .style-light .style-dark .nav-tabs > li > a:hover, .style-dark .nav-tabs > li > a:focus, .style-dark.style-override .nav-tabs > li > a:focus, .style-light .style-dark .nav-tabs > li > a:focus, .style-dark .panel-title > a:hover, .style-dark.style-override .panel-title > a:hover, .style-light .style-dark .panel-title > a:hover, .style-dark .panel-title > a:focus, .style-dark.style-override .panel-title > a:focus, .style-light .style-dark .panel-title > a:focus, .style-dark .widget-container a:hover, .style-dark.style-override .widget-container a:hover, .style-light .style-dark .widget-container a:hover, .style-dark .widget-container a:focus, .style-dark.style-override .widget-container a:focus, .style-light .style-dark .widget-container a:focus, .style-dark .woocommerce .woocommerce-breadcrumb a:hover, .style-dark.style-override .woocommerce .woocommerce-breadcrumb a:hover, .style-light .style-dark .woocommerce .woocommerce-breadcrumb a:hover, .style-dark .woocommerce .woocommerce-breadcrumb a:focus, .style-dark.style-override .woocommerce .woocommerce-breadcrumb a:focus, .style-light .style-dark .woocommerce .woocommerce-breadcrumb a:focus, .style-dark .woocommerce .woocommerce-review-link:hover, .style-dark.style-override .woocommerce .woocommerce-review-link:hover, .style-light .style-dark .woocommerce .woocommerce-review-link:hover, .style-dark .woocommerce .woocommerce-review-link:focus, .style-dark.style-override .woocommerce .woocommerce-review-link:focus, .style-light .style-dark .woocommerce .woocommerce-review-link:focus,
.color-accent-color, body.textual-accent-color .post-content p:not(.entry-small):not(.panel-title):not(.t-entry-member-social) a:not(.btn), body.textual-accent-color .post-content ul:not(.menu-smart):not(.nav-tabs):not(.pagination) a:not(.btn), body.textual-accent-color .post-content dt a:not(.btn), body.textual-accent-color .post-content dd a:not(.btn), body.textual-accent-color .post-content dl a:not(.btn), body.textual-accent-color .post-content address a:not(.btn), body.textual-accent-color .post-content label a:not(.btn), body.textual-accent-color .post-content small a:not(.btn), .wpcf7 .wpcf7-mail-sent-ok, .wpcf7 .wpcf7-validation-errors, .wpcf7 span.wpcf7-not-valid-tip, .nav-tabs > li.active > a, .panel-title.active > a, .panel-title.active > a span:after, .plan-accent.plan .plan-title > h3, .plan-accent.plan .plan-price .price, .tmb-dark.tmb-color-overlay-text, .tmb-dark.tmb .t-entry-visual *, .tmb-dark.tmb .t-entry-visual a, .tmb-dark.tmb .t-entry-visual .t-entry-title a, .tmb-dark.tmb .t-entry-visual .t-entry-meta span { color: #fff !important; }
html .home.textual-accent-color .post-content ul:not(.menu-smart):not(.nav-tabs):not(.pagination) a:not(.btn) { color: #2b1054 !important; }

/* Light */
.style-light .link-hover, .style-light.style-override .link-hover, .style-dark .style-light .link-hover, .style-light a:not(.btn-text-skin):hover, .style-light.style-override a:not(.btn-text-skin):hover, .style-dark .style-light a:not(.btn-text-skin):hover, .style-light a:not(.btn-text-skin):focus, .style-light.style-override a:not(.btn-text-skin):focus, .style-dark .style-light a:not(.btn-text-skin):focus, .style-light a.active, .style-light.style-override a.active, .style-dark .style-light a.active, .style-light .tmb .t-entry-text .t-entry-title a:hover, .style-light.style-override .tmb .t-entry-text .t-entry-title a:hover, .style-dark .style-light .tmb .t-entry-text .t-entry-title a:hover, .style-light .tmb .t-entry-text .t-entry-title a:focus, .style-light.style-override .tmb .t-entry-text .t-entry-title a:focus, .style-dark .style-light .tmb .t-entry-text .t-entry-title a:focus, .style-light .tmb .t-entry p.t-entry-comments .extras a:hover i, .style-light.style-override .tmb .t-entry p.t-entry-comments .extras a:hover i, .style-dark .style-light .tmb .t-entry p.t-entry-comments .extras a:hover i, .style-light .tmb .t-entry p.t-entry-comments .extras a.active i, .style-light.style-override .tmb .t-entry p.t-entry-comments .extras a.active i, .style-dark .style-light .tmb .t-entry p.t-entry-comments .extras a.active i, .style-light .tmb .t-entry p.t-entry-comments .extras a:focus i, .style-light.style-override .tmb .t-entry p.t-entry-comments .extras a:focus i, .style-dark .style-light .tmb .t-entry p.t-entry-comments .extras a:focus i, .style-light .widget_nav_menu li.active > a, .style-light.style-override .widget_nav_menu li.active > a, .style-dark .style-light .widget_nav_menu li.active > a, .style-light div[class*=sharer-].share-button label:hover, .style-light.style-override div[class*=sharer-].share-button label:hover, .style-dark .style-light div[class*=sharer-].share-button label:hover, .style-light div[class*=sharer-].share-button label:focus, .style-light.style-override div[class*=sharer-].share-button label:focus, .style-dark .style-light div[class*=sharer-].share-button label:focus { color: #fff !important; }
.tmb-light.tmb .t-entry-text .t-entry-title a:hover { color: #2b1054 !important; }

/* Header */

html .menu-smart > li > a { padding: 0 18px !important; }
html .menu-smart > li:first-child > a { padding-left: 0 !important; }
.font-size-menu, .menu-container ul.menu-smart > li > a, .menu-smart > li > a > div > div > div.btn, .uncode-cart .buttons a { font-size: 16px; }
.font-size-submenu, .menu-horizontal ul ul a, .vmenu-container ul ul a, .uncode-cart .cart-desc { font-size: 14px; line-height: 1.5; }
.menu-smart > li > a > div > div > div.btn { margin-top: 0; }
.submenu-dark .menu-horizontal .menu-smart ul { background-color: #2b1054; }
.submenu-dark .menu-horizontal .menu-smart #menu-item-73936 ul { width: 23em !important; max-width: 23em !important; }
html body:not(.menu-force-opacity) .menu-wrapper:not(.no-header) .menu-transparent:not(.is_stuck):not(.is_mobile_open).menu-transparent.style-dark-original > *, html body:not(.menu-force-opacity) .menu-wrapper:not(.no-header) .menu-transparent:not(.is_stuck):not(.is_mobile_open).menu-transparent.style-light-original.style-dark-override > * { border-bottom: none !important; box-shadow: none !important; -webkit-box-shadow: none !important; }
body[class*=hmenu-]:not(.hormenu-position-right) .menu-borders .navbar-nav + .navbar-nav-last > *:first-child { padding-left: 0 !important; border-left: none !important; }
body[class*=hmenu] .menu-icons i:not(.fa-dropdown), body.menu-overlay-center .menu-icons i:not(.fa-dropdown) { font-size: 18px !important; }
body[class*=hmenu] .menu-icons i.fa.fa-social-facebook { font-size: 29px !important; }

/* Footer */
.site-footer .menu-smart { padding: 0; }
.site-footer .sub-menu, .site-footer .footer-last { display: none !important; }

/* Social */
.social-icon a { color: #2b1054; }

/* Buttons */
.custom-link { font-size: 19px; }
.custom-link .fa { font-size: 17px; }
html .btn-sm { font-size: 13px !important; }
html .btn, html .btn-link { border-radius: 3px; -webkit-border-radius: 3px; }
html .btn-xl { padding-bottom: 18px; font-size: 23px !important; }
html .btn-default { letter-spacing: 0.03em !important; }
.style-light .btn-default:not(.btn-hover-nobg):hover, .style-dark .style-light.style-override .btn-default:not(.btn-hover-nobg):hover, .style-dark .style-light .btn-default:not(.btn-hover-nobg):hover, .style-light .btn-default.active, .style-dark .style-light.style-override .btn-default.active, .style-dark .style-light .btn-default.active { background-color: #fff !important; }
input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"] { margin-top: 36px !important; font-size: 19px; }
html .btn-color-886277:not(.btn-flat):not(.btn-hover-nobg):not(.btn-text-skin):hover, html .btn-color-886277:not(.btn-hover-nobg):not(.btn-text-skin):focus, html .btn-color-886277:active { background-color: #fff !important; }


/* Forms */
textarea { margin-top: 30px; height: 80px; }
span.wpcf7-list-item { display: block; }
.wpcf7-inline-wrapper .wpcf7-inline-field { margin-top: 30px; }
.wpcf7-list-item-label { position: relative; top: 2px; }
html .gform_wrapper ul.gform_fields li.gfield { padding-right: 0; }


/* Blog */
.post-info { font-size: 21px; margin-top: 30px; display: block; }
.post-info .category-info, .post-info .author-info { display: none; }
.post-wrapper .post-share { border-bottom: none; }
.font-ui-fixed, .post-info, .widget-container .widget-title, #comments .comments-title, #respond .comments-title, #comments #reply-title, #respond #reply-title, .uncode-share h6, .woocommerce div.product .wootabs .tab-pane:not(.tab-vcomposer) .product-tab-title, .woocommerce div.single-product .wootabs .tab-pane:not(.tab-vcomposer) .product-tab-title, .woocommerce #content div.product .wootabs .tab-pane:not(.tab-vcomposer) .product-tab-title, .woocommerce #content div.single-product .wootabs .tab-pane:not(.tab-vcomposer) .product-tab-title, .woocommerce #reviews .woocomments .woocomments-title, .woocommerce .products.related .related-title, .woocommerce #review_form #respond #reply-title { text-transform: capitalize; }
.isotope-filters.double-gutter:not(.with-bg) { margin-bottom: 48px; }
.single h4, .single .h4 { line-height: 1.6; }


/* Misc */
body.style-color-nhtu-bg { background-color: #fff !important; }
.body-borders .body-border-shadow { box-shadow: none !important; -webkit-box-shadow: none !important; }
ul.icons li { font-size: 18px; }
ul.icons li .fa { top: 1px; letter-spacing: 0.05em !important; }
.home .uncode-scroll-lock .icon-box { width: 100%; text-align: center; margin-left: -25px; position: absolute; left: 0; bottom: 40px; }
.home .uncode-scroll-lock .icon-box span { width: 50px; }
.home div[data-anchor="slide-0"] .icon-box { bottom: -8vh; }
.home .uncode-single-media-wrapper:after { width: 100%; height: 100%; content: ''; /* background-color: rgba(20,20,20,0.5); */ display: block; position: absolute; left: 0; top: 0; z-index: 99; }
.footer-scroll-top { display: none; }
html .tmb .t-entry p.t-entry-meta span { font-size: 16px; font-weight: 300; line-height: 1.6; }
html .tmb .t-entry p.t-entry-meta .t-entry-date { font-size: 14px; }
html .unshadow-sm:hover, html .uncell.unshadow-sm:hover { box-shadow: none; -webkit-box-shadow: none; }
html .tmb-dark.tmb .t-entry-visual a { border-radius: 0; -webkit-border-radius: 0; overflow: hidden; }
html .tmb .t-entry-visual .t-overlay-icon.t-icon-size-md { margin-top: 16px; display: block; }
html .tmb-overlay-text-center.tmb .t-entry-visual .t-overlay-content:after { width: 36px; height: 36px; line-height: 36px; content: '\e114'; font-family: 'uncodeicon' !important; background-color: #2b1054; display: block; position: absolute; left: 0; top: 0; color: #fff; font-size: 19px; }
html .isotope-filters .menu-horizontal { max-width: 100%; }
html .double-gutter.isotope-filters ul.menu-smart > li > span { padding: 0; }
html .isotope-filters ul.menu-smart > li > span > a { font-size: 12px; margin-bottom: 4px; background-color: #fff; border: 2px solid #333; color: #333; padding: 0.5em; }
html .isotope-filters ul.menu-smart > li > span > a:hover { cursor: pointer; border: 2px solid #00c7df; background-color: #00c7df; color: #fff !important; }
html .isotope-filters ul.menu-smart > li > span > .active { border: 2px solid #00c7df; background-color: #00c7df; color: #fff !important; }
html .isotope-wrapper .h2:not([class*="fontsize-"]) { font-size: 25px; }
html .tmb .t-entry-visual .t-background-cover:after { display: block; content: ''; position: absolute; width: 100%; height: 100%; z-index: 9; background-color: rgba(35,35,35,0.5); }
html .tmb .t-entry-visual .t-overlay-text { zoom: 1; filter: alpha(opacity=100); -webkit-opacity: 1; -moz-opacity: 1; opacity: 1 !important; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
html .no-margin-top { }
html .home .wpcf7-inline-wrapper .wpcf7-inline-field:last-child { padding-right: 20px; }
h1.header-title { margin-bottom: 8px !important; }
html .isotope-wrapper.isotope-inner-padding.half-gutter { padding-left: 0 !important; padding-right: 0 !important; }
.page-id-72439 .header-wrapper .header-bg { background-position: center bottom !important; }


/* Home Slider */
html .home .fontsize-338686 { font-size: 4vw; }
html .home .fontsize-155944 { font-size: 2.25vw; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 1.3vw; line-height: 1.5 !important; }
.home .hero-section .uncont { padding-right: 20% !important; }

@media screen and (max-width: 1279px) {
.home .hero-section .uncont { padding-right: 0; }
}


/* Gravity Forms - Reset */
html .gform_wrapper .gform_footer { padding: 0; }
html body .gform_wrapper ul li.gfield { margin-top: 36px; }
html .gform_wrapper input[type="email"],
html .gform_wrapper input[type="number"],
html .gform_wrapper input[type="password"],
html .gform_wrapper input[type="tel"],
html .gform_wrapper input[type="text"],
html .gform_wrapper input[type="url"] { margin-top: 0; padding: 10px 15px 10px 0 !important; }
html .gform_wrapper .gform_footer input.button,
html .gform_wrapper .gform_footer input[type="submit"],
html .gform_wrapper .gform_page_footer input.button,
html .gform_wrapper .gform_page_footer input[type="submit"] { border: 1px solid #00c7df; background-color: #00c7df; color: #fff; border-radius: 3px; }
html .gform_wrapper .gform_footer input.button:hover,
html .gform_wrapper .gform_footer input[type="submit"]:hover,
html .gform_wrapper .gform_page_footer input.button:hover,
html .gform_wrapper .gform_page_footer input[type="submit"]:hover { background-color: transparent; color: #00c7df; }
html .gform_wrapper .top_label .gfield_label { font-weight: 400; }
html .gform_wrapper textarea.small { margin-top: 10px; }
html .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) { max-width: 100% !important; border: none; background-color: rgba(255,223,224,0.4); }
html .gform_wrapper div.validation_error { border: none; background-color: rgba(255,223,224,0.4); padding: 25px; line-height: 1.7 !important; font-size: 16px; text-align: left; }
html .gform_wrapper li .ginput_complex input[type="text"], html .gform_wrapper li.field_sublabel_above input[type="text"], html .gform_wrapper li input[type="email"], html .gform_wrapper li textarea { border-color: #303133 !important; }
html .gform_wrapper .gform_footer input.button, html .gform_wrapper .gform_footer input[type="submit"] { width: 100%; }


/* Gravity Forms - Custom Styling */
.contact-form #field_1_1 .gfield_label_before_complex { display: none; }
.contact-form #field_1_1 .ginput_complex label { font-size: 15px; font-weight: 400; }


/* Animation */
html .unshadow-sm, html .uncell.unshadow-sm, body.hmenu .menu-primary .menu-horizontal .menu-smart > li > a, html .menu-smart > li > a, .menu-overlay .vmenu-container .menu-smart a:not(.wc-forward) { -webkit-transition: all 0.2s ease-in; transition: all 0.2s ease-in; -webkit-backface-visibility: hidden; }
html .unshadow-sm:hover, html .uncell.unshadow-sm:hover, body.hmenu .menu-primary .menu-horizontal .menu-smart > li > a:hover, html .menu-smart > li > a:hover, .menu-overlay .vmenu-container .menu-smart a:not(.wc-forward):hover { -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }


/* Responsive */
@media screen and (min-width: 1651px) {
h1:not([class*="fontsize-"]), .h1:not([class*="fontsize-"]) { font-size: 70px; }
h2:not([class*="fontsize-"]), .h2:not([class*="fontsize-"]) { font-size: 48px; }
h3:not([class*="fontsize-"]), .h3:not([class*="fontsize-"]) { font-size: 31px; }
h4:not([class*="fontsize-"]), .h4:not([class*="fontsize-"]) { font-size: 21px; }
h5:not([class*="fontsize-"]), .h5:not([class*="fontsize-"]) { font-size: 17px; }
}


@media screen and (max-width: 1920px) {
html .fontsize-445851 { font-size: 70px; }
}

@media screen and (max-width: 1650px) {
h1:not([class*="fontsize-"]), .h1:not([class*="fontsize-"]) { font-size: 48px; }
h2:not([class*="fontsize-"]), .h2:not([class*="fontsize-"]) { font-size: 32px; }
h3:not([class*="fontsize-"]), .h3:not([class*="fontsize-"]) { font-size: 21px; }
h4:not([class*="fontsize-"]), .h4:not([class*="fontsize-"]) { font-size: 17px; }
h5:not([class*="fontsize-"]), .h5:not([class*="fontsize-"]) { font-size: 15px; }
html .fontsize-445851 { font-size: 60px; line-height: 1.3 !important; }
html .home .fontsize-155944 { font-size: 2vw; }
}


@media screen and (max-width: 1366px) {
p, dt, dd, dl, address, label, small, pre, code { font-size: 15px; }
html .home .fontsize-338686 { font-size: 3.5vw; }
html .home .fontsize-155944 { font-size: 3vw; }
html .fontsize-445851 { font-size: 40px; }
html .home .fontsize-155944 { font-size: 27px; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 16px; line-height: 1.6 !important; }
ul.icons li { font-size: 16px; }
html .btn-xl { font-size: 19px !important; }
html .home div[data-anchor="slide-1"] .divider-wrapper { display: none !important; }
html .home div[data-anchor="slide-1"] p { font-size: 14px; }
html .home div[data-anchor="slide-2"] .fontsize-338686 { font-size: 3vw; }
.home .hero-section .uncont { padding-right: 5%; }
.logo-container .logo-image { height: 50px !important; }
.owl-nav.disabled { display: block !important; }


html .isotope-container .fontsize-155944 { font-size: 4vw; }
.home .main-container .row-container > .row-parent .row-child > .row-inner > .col-lg-6 { width: 100% !important; float: none; }
.home .main-container .row-container > .row-parent .row-child > .row-inner > .col-lg-6 + .col-lg-6 { display: none; }
.row .uncont > .uncode_text_column + .uncode_text_column { display: block; }
.menu-container .col-lg-0 { padding-top: 18px; padding-bottom: 18px; }
.site-footer .col-lg-6 { width: 100% !important; float: none !important; display: block; height: inherit; text-align: center; padding-left: 0 !important; padding: 36px 0; }
.site-footer .uncode_text_column > *:first-child, .site-footer .menu-smart { text-align: center; }
.home .main-container .row-container > .row-parent .row-child > .row-inner > .col-lg-6 + .col-lg-6 { display: block; }
/*.site-footer .col-lg-6 { margin-top: 24px !important; }*/
}

@media screen and (max-width: 1280px) {
p, dt, dd, dl, address, label, small, pre, code { font-size: 15px; }
ul.icons li { font-size: 17px; }
html .isotope-wrapper .h2:not([class*="fontsize-"]) { font-size: 23px; }
html .tmb .t-entry p.t-entry-meta span { font-size: 14px; }
.uncode-list ul.text-large li { font-size: 15px; }
.double-bottom-padding .col-lg-8, .double-bottom-padding .col-lg-4 { width: 100%; }
html .header-wrapper .header-content-inner > *:first-child { margin-bottom: 8px; }
html ul.icons li { font-size: 15px; }
.home .triple-block-padding { padding: 20px 36px 36px 36px; }
ul.icons li { margin-top: 2px; }
html .isotope-container .fontsize-155944 { font-size: 3vw; }
.home .hero-section .uncont { padding-right: 20% !important; }
}


@media screen and (max-width: 1110px) {
#menu-item-72314 { display: none !important; }
.font-size-menu, .menu-container ul.menu-smart > li > a, .menu-smart > li > a > div > div > div.btn, .uncode-cart .buttons a { font-size: 15px; }
html .btn-xl { font-size: 19px !important; }
.half-gutter:not(.owl-carousel-container):not(.justified-wrapper) .tmb .t-inside { max-height: 30vh !important; }
.half-gutter .tmb.tmb-media-last { width: 100% !important; }
}


@media screen and (max-width: 1024px) {
p, dt, dd, dl, address, label, small, pre, code, ul.icons li { font-size: 14px; }
h1:not([class*="fontsize-"]), .h1:not([class*="fontsize-"]) { font-size: 42px; }
h2:not([class*="fontsize-"]), .h2:not([class*="fontsize-"]) { font-size: 27px; }
h3:not([class*="fontsize-"]), .h3:not([class*="fontsize-"]) { font-size: 21px; }
h4:not([class*="fontsize-"]), .h4:not([class*="fontsize-"]) { font-size: 17px; }
h5:not([class*="fontsize-"]), .h5:not([class*="fontsize-"]) { font-size: 15px; }
h1, h2, h3, h4, h5 { line-height: 1.3 !important; }
html .home .fontsize-338686 { font-size: 3.5vw; }
html .home .fontsize-155944 { font-size: 2.5vw; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 1.7vw; }
.uncode-list ul.text-large li { font-size: 14px; line-height: 1.8; }
html .header-wrapper .header-content-inner > *:first-child { text-align: center; }
html #bigtext-id0 .bigtext-line0 { font-size: 7.5vw !important; }
.home .triple-block-padding { padding: 32px; }
}



@media screen and (max-width: 959px) {
ul.menu-smart ul { margin-left: auto; margin-right: auto; }
.home .shift_y_neg_single { margin-top: 10px !important; }
.home .double-block-padding { padding: 16px; }
body.menu-mobile-centered .navbar-social, body.menu-mobile-centered .menu-smart-social, body.menu-mobile-centered .menu-horizontal-inner div .menu-smart-social { margin-top: 30px !important; }
html header .menu-smart > li:first-child > a { padding-left: 16px !important; }
.menu-overlay .mobile-menu-button:before { display: none; }
body[class*=hmenu] .menu-icons i.fa.fa-social-linkedin { font-size: 31px !important; }
.site-footer .menu-smart a { line-height: 2; padding: 0 !important; letter-spacing: 0.05em !important; }
.row div[class*="col-lg-"].align_right > .uncol > .uncoltable > .uncell > .uncont, .row div[class*="col-lg-"] .row-inner .align_right > .uncol > .uncoltable > .uncell > .uncont { text-align: left; }
.isotope-wrapper .double-gutter:not(.owl-carousel-container):not(.justified-wrapper) .tmb .t-inside { margin-top: 36px; }
.menu-smart > li > a > div > div > div.btn { margin-top: 36px !important; font-size: 19px; }
body.menu-mobile-centered .main-menu-container .menu-horizontal .menu-horizontal-inner, body.menu-mobile-centered .vmenu-container .vmenu-row-wrapper .vmenu-wrap-cell, body.menu-mobile-centered .overlay-menu .navbar-main .menu-sidebar-inner { padding: 56px 0; }
.submenu-dark .menu-smart, .submenu-dark .menu-sidebar-inner, .submenu-dark .main-menu-container, .submenu-dark .main-menu-container { background-color: #2b1054; }
:not(.with-bg).isotope-filters ul.menu-smart > li > span > a { padding: 0.5em !important; }
html .vc_custom_1524493356203 { padding-left: 0 !important; }
html .vc_custom_1524493352139 { padding-right: 0 !important; border-right: none !important; }
.main-container .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > *:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 36px !important; }
html .header-wrapper .header-scrolldown { display: block; }
html .home .icon-box { display: none !important; }
.main-container .row-container .triple-top-padding { padding-top: 24px; }
.main-container .row-container .triple-bottom-padding { padding-bottom: 24px; }
.submenu-dark .menu-horizontal .menu-smart ul { margin-bottom: 20px; margin-left: auto !important; margin-right: auto !important; }
html body.menu-mobile-centered .main-menu-container .menu-horizontal .menu-horizontal-inner ul.menu-smart a:not(.cart-thumb):not(.btn) { margin-left: 0; font-size: 18px !important; }
.site-footer .menu-smart a { text-transform: none; }
.main-container .site-footer .row-container .double-top-padding { padding-top: 0 !important; }
html body.menu-mobile-centered .main-menu-container .menu-horizontal .menu-horizontal-inner ul.menu-smart li.menu-item > a { margin-top: 7px; margin-bottom: 7px; padding-bottom: 0; line-height: 1.4 !important; }
.home .hero-section .uncont { padding-right: 0; }
html .isotope-container .fontsize-155944, html .fontsize-338686 { font-size: 4vw; }
html .site-footer .col-md-33 { width: 100%; }
.main-container div[data-anchor="slide-1"].row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > *:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 0 !important; }
.page-id-72774 .col-lg-3 { display: none !important; }
.page-id-72774 .main-container .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > h3:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 0 !important; }
html .main-container .row-inner > .col-lg-6 + .col-lg-6 { padding-top: 0 !important; }
.main-container .row-container .row-parent .col-lg-6 + .col-lg-6 .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > *:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 0 !important; }
.site-footer .uncode_text_column > *:first-child, .site-footer .menu-smart { padding-top: 36px !important; padding-bottom: 16px; }
.main-container .site-footer .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > *:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 0 !important;}
.isotope-filters ul.menu-smart { padding-top: 50px !important; }
.vc_custom_1528298466075 { margin-top: 46px !important;}
.main-container .row-container .double-top-padding { padding-top: 36px; }
.main-container .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > *:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 0 !important; }
}

@media screen and (max-width: 768px) {
html .home .fontsize-338686 { font-size: 7vw; }
html .home .fontsize-155944 { font-size: 3.5vw; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 2.2vw; }
html .fontsize-445851 { font-size: 31px; }
.home .hero-section .uncont { padding-right: 9% !important; }
}


@media screen and (max-width: 569px) {
p, dt, dd, dl, address, label, small, pre, code, ul.icons li { font-size: 14px; }
h1:not([class*="fontsize-"]), .h1:not([class*="fontsize-"]) { font-size: 36px; }
h2:not([class*="fontsize-"]), .h2:not([class*="fontsize-"]) { font-size: 26px; }
h3:not([class*="fontsize-"]), .h3:not([class*="fontsize-"]), .tmb .t-entry .t-entry-title { font-size: 19px; }
h4:not([class*="fontsize-"]), .h4:not([class*="fontsize-"]) { font-size: 16px; }
h5:not([class*="fontsize-"]), .h5:not([class*="fontsize-"]) { font-size: 15px; }
html .home .fontsize-338686 { font-size: 7vw; }
html .home .fontsize-155944 { font-size: 3.5vw; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 2.6vw; }
html .fontsize-445851 { font-size: 27px; }
.home .hero-section .uncont { padding-right: 0 !important; }
.main-container .row-container.hero-section .row-parent .column_child.single-internal-gutter .uncont > *:not(:first-child) { margin-top: 16px; }
.hero-section .icon-media { width: 60% !important; }
.hero-section .fontheight-357766 { display: none !important; }
.menu-container .logo-container { padding-top: 16px !important; padding-bottom: 16px !important; }
html .btn-xl { font-size: 16px !important; padding: 12px 30px 12px 30px !important; }
.home .empty-space.empty-quart { padding-top: 0; }
.home .triple-block-padding { padding: 20px; }
.home li[style="visibility: hidden;"] { display: none !important; }
.home .main-container .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > .single-wrapper { margin-top: 0 !important; }
.home .triple-block-padding { padding-top: 0 !important; }
.main-container .row-container .quad-h-padding { padding-left: 20px; padding-right: 20px; }
html .fontsize-338686 { font-size: 27px; }
.home .main-container .row-container > .row-parent .row-child > .row-inner > .col-lg-6 { width: 100% !important; max-width: 100%; }
input[type="submit"], input[type="reset"], input[type="button"], button[type="submit"] { font-size: 17px; }
.logo-container .logo-image { height: 35px !important; }
.btn:not(input), .btn-link:not(input) { transform: none; -webkit-transform: none; }
html .menu-smart > li > a > div > div > div.btn { font-size: 4vw !important; }
html .mobile-menu-button { padding-right: 37px; }
.home .main-container .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > h2:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 20px !important; }
.home div[data-section="2"] .empty-space.empty-single { display: none !important; }
.home div[data-section="2"] input[type="submit"] { margin-top: 16px !important; }
.home input[type="submit"] { font-size: 16px !important; }
.site-footer .menu-smart a { font-size: 15px; }
.site-footer p { font-size: 13px; }
blockquote p { font-size: 16px; }
html .btn, html .btn-link { width: 100%; }
.vc_custom_1524492956092 { padding-right: 0 !important; }
.tmb-content-overlay .h1, .tmb-content-overlay .h2, .tmb-content-overlay .h3, .tmb-content-overlay .h4, .tmb-content-overlay .h5, .tmb-content-overlay .h6 { font-size: 19px !important; }
.tmb-overlay-text-reduced.tmb .t-entry-visual .t-overlay-text { width: 100%; padding: 25px !important; }
.main-container div[data-anchor="slide-1"] .uncode_text_column { display: block !important; }
.half-gutter:not(.owl-carousel-container):not(.justified-wrapper) .tmb .t-inside { max-height: none !important; }
.page-id-72774 .tmb .t-entry-visual img { padding-left: 36px; padding-right: 36px; }
.page-id-72774 h3 { margin-top: 0; }
.page-id-72315 .double-block-padding { padding: 0 !important; }
.page-id-72315 .main-container .row-container .row-parent .uncont > *:first-child:not(.divider-wrapper):not(.edit-account) > h2:first-child:not(.isotope-wrapper):not(.justified-wrapper):not(.index-wrapper):not(.edit-account) { margin-top: 0 !important; }
.page-id-72315 input.wpcf7-form-control.wpcf7-submit.btn { margin-bottom: 54px; }
.home .double-block-padding { padding-top: 0 !important; }
p.t-entry-meta { overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
}

@media screen and (max-width: 375px) {
html .home .fontsize-338686 { font-size: 7.5vw; }
html .home .fontsize-155944 { font-size: 4.5vw; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 3.5vw; }
}

@media screen and (max-width: 320px) {
html .menu-container .logo-container, .main-container .row-container .double-h-padding { padding-left: 21px !important; padding-right: 21px !important; }
.home .empty-space.empty-half { padding: 0 !important; }
}


@media screen and (min-width: 1366px) and (max-height: 768px) {
html .home .fontsize-338686 { font-size: 4vw; }
html .home .fontsize-155944 { font-size: 2vw; }
html .hero-section h3:not([class*="fontsize-"]) { font-size: 1.3vw; }
html .isotope-container .fontsize-155944 { font-size: 2.5vw; line-height: 1.3; }
}

@media screen and (max-height: 900px) {
.main-container div[data-anchor="slide-1"] .uncode_text_column { display: none; }
}



@media screen and (min-width: 959px) {
.limit-width { max-width: 90%; margin-left: auto; margin-right: auto; }
}


@media screen and (min-width: 1921px) {
.limit-width { max-width: 75%; }
}

/*Contact form styling*/
input#input_1_1_3, input#input_1_1_6, input#input_1_2, input#input_1_5, textarea#input_1_4  { border-color: #eaeaea !important;}
input#input_1_1_3:focus, input#input_1_1_6:focus, input#input_1_2:focus, input#input_1_5:focus, textarea#input_1_4:focus { border-color: #00c7df !important;}

/*Inline text to bulletpoints*/
i.fa.fa-angle-right {margin: 0 5px 0 -19px;}
ul.icons li {margin-left: 20px !important;}

/*Background Position*/
.bottom-center .header-bg {background-position: 0% 70% !important;}
.bottom .header-bg {background-position: 0% 100% !important;}
.bottom-mid .header-bg {background-position: 0% 40% !important;}
.top-center .header-bg {background-position: 0% 15% !important;}
.left-center .header-bg {background-position: 25% center;}
.center-right .header-bg {background-position: 80% 0% !important;}

/* Link Colour */
body.textual-accent-color .post-content p:not(.entry-small):not(.panel-title):not(.t-entry-member-social) a:not(.btn) {
    color: #4bb4e7 !important;
}
.row-container.row-navigation.row-navigation-light {
    display: none;
}

/*Hover Tag*/
.tagcloud a:not(.btn-text-skin):hover { color: #303133 !important; }

/*/ ========================================
// Cookie Popup
=========================================/*/

html #cookie-law-info-bar, .wt-cli-cookie-bar {z-index: 9999999;}
html .cli-modal-backdrop {z-index: 999999;}

html #cookie-law-info-bar, html .cli-modal-content {
    padding: 30px !important; font-family: "Arial", sans-serif !important; z-index: 9999999999999 !important; border-radius: 5px !important; -webkit-border-radius: 5px !important;}

@media (max-width: 768px) { html #cookie-law-info-bar, html .cli-modal-content  { padding: 18px !important; }
}

html #cookie-law-info-bar #wt-cli-settings-btn { color: #272525 !important; }

html .cli-modal {z-index: 99999999999999 !important;}
h1, h2, h3, h4, h5, h6, .cli-tab-section .cookielawinfo-row-cat-table, .cli-tab-section .cookielawinfo-row-cat-table th, .cli-tab-section .cookielawinfo-row-cat-table td { font-family: "Arial", sans-serif !important; letter-spacing: 0 !important; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; font-weight: 600 !important; text-transform: capitalize !important; }
.cli-modal-close { width: 36px !important; height: 36px !important; top: 7px !important; right: 7px !important; padding: 0 !important; background-color: #eee !important; border: none !important; border-radius: 50% !important; -webkit-border-radius: 50% !important;}
svg { fill: #666 !important; }

.cli-modal-footer .wt-cli-ckyes-footer-section { display: none; }
.cli-tab-header {background-color: #f1f1f1 !important;}
@media (max-width: 768px)  { .cli-tab-header { padding: 6px 10px; }
}
.cli-tab-section .cli-tab-content { padding: 25px 20px 10px 20px; }
.cli-tab-section .cookielawinfo-row-cat-table { border: 1px solid #ccc;}
.cli-tab-section .cookielawinfo-row-cat-table th { background-color: #272525 !important; color: #fff !important; border-color: #ccc; padding: 10px; text-transform: none !important; }
.cli-tab-section .cookielawinfo-row-cat-table td { background-color: #f1f1f1 !important; border-color: #ccc; padding: 10px; }

.cli-switch .cli-slider { height: 19px; }
.cli-switch input:checked + .cli-slider { background-color: #85bf31 !important; }
.cli-tab-container p, .cli-privacy-content-text { font-size: 12px; }
span.cli-necessary-caption { line-height: 20px; }
@media (max-width: 768px) { a.cli-privacy-readmore { margin-top: 8px; }
}

html .cli-modal .cli-tab-footer .wt-cli-privacy-accept-btn, html #cookie-law-info-bar #wt-cli-accept-btn {
    background-color: #85bf31 !important; border-radius: 4px !important; -webkit-border-radius: 4px !important; color: #fff !important; text-transform: none !important;}
html .cli-modal .cli-tab-footer .wt-cli-privacy-accept-btn:hover, html #cookie-law-info-bar #wt-cli-accept-btn:hover { { background-color: darken(#85bf31,10) !important; color: #fff !important; }

@media (min-width: 992px) {
    .cli-modal .cli-modal-dialog { max-width: 800px; }
}